footer {
  min-height: 180px;
  background: #fff;
  margin: 90px -60px 0;
  border-top: solid 1px #EEE;
  padding: 20px 60px;
  p {
    font-size: 15px;
    line-height: 1.5;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
}
