.design {
  position: relative;
  clear: left;
  background: #fff;
  // -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  // -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 1px 3px rgba(130, 130, 130, 0.18);
  border-radius: 3px;
  cursor: pointer;
  a {
    cursor: pointer;
  }
}

.header {
  .header-brand {
    h1 {
      font-weight: bold;
      font-size: 45px;
      color: #000;
    }
  }

  .links {
    font-size: 13px;
    margin: 10px 0;
    text-transform: uppercase;
    a {
      font-weight: bold;
    }
  }

  min-height: 30px;
  .header-img {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin: 0 auto;
    img {
      height: 90px;
      border-radius: 100%;
      border: solid 3px #888;
      padding: 3px;
      background: #fff;
    }
  }
  .header-text {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 20px;
    span {
      border-bottom: solid 1px #888;
    }
    strong {
      font-weight: 500;
    }
  }

  &.small {
    min-height: 10px;
    margin: 30px 0;
    .header-img {
      height: 60px;
      width: 60px;
      border-radius: 100%;
      img {
        height: 60px;
        border-radius: 100%;
        border: solid 2px #888;
        padding: 2px;
      }
    }


    .header-text {
      font-size: 15px;
      line-height: 1.6;
      margin-top: 10px;
      span {
        border-bottom: solid 1px #888;
      }
      strong {
        font-weight: 500;
      }
    }

  }

}

.design-shot {
  // padding: 10px;

}

a:-webkit-any-link {
  cursor: pointer;
}

.design-over {

  position: absolute;
  cursor: pointer;

  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 14px 0;
  font-size: 12px;
  line-height: 2;
  text-decoration: none;
  color: #888;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  z-index: 3;
  transition: opacity 0.2s ease-in;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .comment {
    display: block;
    margin: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    overflow: hidden;
    text-align: center;
    font-weight: 300;
  }
  em {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 20px;
    margin: 0 0 3px 0;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    color: #999999;
  }
  span {
    display: block;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    font-weight: 300;
    small {
      display: block;
      font-size: 15px;
      color: #BDBDBD;
    }
    .sep {
      margin: 0 2px;
      color: #999999;
    }
  }
}

.design-link {
  display: block;
  overflow: hidden;
  cursor: pointer;
}


