body {
  color: #333;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body {
  background: #f5f4f3;
}

a:hover {
  text-decoration: none;
}

.logo {
  text-align: center;
  margin: 0 auto;
  .brand {
    margin: 0 auto;
    display: inline-block;
    &:hover {
      transition: all linear 0.4s;
      h1 {
        opacity: 1;
      }
    }
  }
  h1 {
    opacity: 0;
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
    transition: all linear 0.4s;
  }
}


.blurb {
  font-size: 20px;
  .header {
    margin: 30px
  }
}

p, a, div, span, i {
  font-weight: 300;
}


.container {
  max-width: 960px;
  padding: 0 60px;
  background: #FFF;
}


.row.full {
  margin: 0 -45px;
}

.card.full {
  margin: 15px 0;
  max-height: 300px;
  overflow: hidden;
}

.logo img {
  height: 80px;
}

.header {
  margin: 50px 0 40px;
  overflow: hidden;
}

.landing-heading {
  margin: 50px 0;
  text-align: center;
  position: relative;

  .text {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background: #fff;
    padding: 0 10px;
    color: #555;
  }
  .line {
    height: 0;
    border-bottom: solid 1px #dcdcdc;
    margin: 0 -15px -13px;
  }
}
